<%= form_for(@tarea, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body" >
      <% if current_servicio != nil %>
            <%= f.hidden_field :servicio_id, :value => current_servicio.id %>
      <%end %>
      <div class="form-group">
      <label class="control-label col-lg-2">Nombre tarea</label>
        
        <div class="col-lg-6">
          <%= f.text_field :nombre, :class => "form-control input-sm", :placeholder =>"Ingrese el nombre" %>
      
        </div><!-- /.col -->
      </div><!-- /form-group -->

    <div class="form-group">
    <label class="control-label col-lg-2">Estado</label>
                
        <div class="col-lg-6">
          <select type="text" class="form-control chzn-select" id="tarea_estado" name="tarea[estado]">
                      <option> </option>
                      <option>En ejecución</option>
                      <option>Completada</option>
                      <option>Cancelada</option>
          </select> 
        </div><!-- /.col -->
    </div><!-- /form-group -->

    <% if current_usuario.tipo_de_usuario == 2 %>
    <div class="form-group">
         <label class="control-label col-lg-2">Creación</label>            
        <div class="col-lg-6">
           <div class="input-group">
            <%= f.text_field :creacion, :class =>"datepicker form-control input-sm" %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
         
        </div><!-- /.col -->
    </div><!-- /form-group -->    
    <% end %>

    <% if current_usuario.tipo_de_usuario == 2 %>
    <div class="form-group">
         <label class="control-label col-lg-2">Término</label>            
        <div class="col-lg-6">
          <div class="input-group">
            <%= f.text_field :termino, :class =>"datepicker form-control input-sm" %>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
    
         
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <% end %>

    <div class="form-group">
        <label class="control-label col-lg-2">Descripción</label>
                       
        <div class="col-lg-6">
           <%= f.text_field :descripcion, :class => "form-control " %>
          
        </div><!-- /.col -->
    </div><!-- /form-group -->

    <% if current_usuario.tipo_de_usuario == 2 %>
    <div class="form-group">
    <label class="control-label col-lg-2">Ejecutante</label>
                
        <div class="col-lg-6">
          <%= f.select :ejecutante,
                      @ejecutantes.collect { |u| [u.email, u.id] },
               { include_blank: false },
               { class: "form-control chzn-select" }
          %>
        
        </div><!-- /.col -->
    </div><!-- /form-group -->
    <% end %>
                 
</div>
</div>
  <div>
    <a href="/tareas" class="btn btn-warning">
      <i class="fa fa-chevron-left"></i>
      Volver
    </a>  
    <%= f.submit :Aceptar, :class => "btn btn-success"%>

  </div>
<script type="text/javascript">
$(".datepicker").datepicker();
</script>

<% end %>
<script type="text/javascript">
    $(function  ()  {
        $(".chzn-select").chosen();
    });
</script>
