
</div><!-- /panel -->
  <div class="panel panel-default table-responsive">

  
  <div class="panel-heading">
    Lista de tareas
    <span class="label label-info pull-right"> <%= @tareas.try(:length) || 0 %> Items</span>
  </div>

  <table class="table table-striped" id="dataTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Creación</th>
        <th>Cliente</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.nombre %></td>
        <td><%= tarea.estado %></td>
         <td><%= tarea.created_at.strftime("%d %b. %Y") %></td> 
         <% if @clientes.find_by_id(tarea.usuario_id) == nil %>
         <td>No asignado</td>
         <% else %>
        <td><%= @clientes.find_by_id(tarea.usuario_id).nombre%></td>
        <% end %>
        <td><%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, tarea_path(tarea) %>
         <%= link_to '<i class="fa fa-edit fa-lg "></i>'.html_safe, edit_tarea_path(tarea) %>
       </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div><!-- /panel -->
  <div class="padding-md clearfix">

<script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
</script>