
<h1 align="center" style="position:relative ;left:-100px"> Tarea</h1>
<%= form_for(@tarea, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

   <div class="col-md-12 col-sm-12">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default fadeInDown animation-delay2">
                      <div class="panel-heading">
                       <strong class="font-14"> Datos de la tarea: </strong>
                      </div>
                      <div class="panel-body">
                        <table cellpadding="2" border="0">
                          <tr> <td>Nombre</td> <td>: <%= @tarea.nombre %></td> </tr>
                          <tr> <td>Estado</td> <td>: <%= @tarea.estado %></td> </tr>
                          <tr> <td>Fecha de creación</td> <td>: <%= @tarea.creacion %></td> </tr>
                          <tr> <td>Fecha de término</td> <td>: <%= @tarea.termino %></td> </tr>
                          <tr> <td>Descripción</td> <td>: <%= @tarea.descripcion %></td> </tr>
                          <% if @ejecutante.nil? %>
                          <tr> <td>Ejecutante</td> <td>: No asignado</td> </tr>
                          <% else %>
                          <tr> <td>Ejecutante</td> <td>: <%= @ejecutante.nombre %></td> </tr>
                          <% end %>
                        </table>
                      </div>
                    </div><!-- /panel -->

                    <!-- -->
                    <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <div class="row">
  <div class="col-md-6"> 
    <h4> Archivos </h4>
  </div>
</div>

    </div>
    <div class="padding-md clearfix">
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
            <th>Nombre Archivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @tarea.archivos.each do |archivo| %>
            <tr>
              <td><%= archivo.nombreArchivo %></td>
              <td><%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, "/app/views/public/archivos/"+archivo.nombreArchivo %>
              <!--<%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, {:controller => "archivos", :action => "borrar_archivos", :archivo_a_borrar => archivo.nombreArchivo}, {:method => "post", :confirm => "Seguro?"} %> -->
              </td>
            </tr>
            <% end %>

        </tbody>
      </table>
    </div><!-- /.padding-md -->
  </div><!-- /panel -->

<!-- ...... ..-->

                    <div align="left" >
                      <% if current_usuario.tipo_de_usuario == 3 %>
                      <a href="/tareas" class="btn btn-warning">
                      <% else %>
                      <a href="/servicios/<%= @tarea.servicio_id%>" class="btn btn-warning">
                      <% end %>
                       <i class="fa fa-chevron-left"></i>Volver</a>  
                      </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
</div><!-- /.row -->


 



<% end %>