
<h1 align="center" style="position:relative ;left:-100px"> Tarea</h1>
<%= form_for(@tarea, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

    <div class="panel panel-default fadeInDown animation-delay2">
      <div class="panel-heading">
        Datos de la tarea:
      </div>
      <div class="panel-body">
        <td>Nombre: <%= @tarea.nombre %></td><br>
        <td>Estado: <%= @tarea.estado %></td><br>
        <td>Fecha de creación: <%= @tarea.creacion %></td><br>
        <td>Fecha de término: <%= @tarea.termino %></td><br>
        <td>Descripción: <%= @tarea.descripcion %></td><br>
        <td>Cliente: <%= @usuario.nombre %></td><br>        
      </div>
      <div class="actions" style="position:relative; top:50px ;left:300px" >
        <a href="/tareas" class="btn btn-warning">
         <i class="fa fa-chevron-left"></i>
            Volver
        </a>  
      </div>  
    </div><!-- /panel -->

<% end %>