<%= form_for(@servicio, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <div class="panel panel-default">
    <div class="panel-body" >
      <div class="form-group">
      <label class="control-label col-lg-2">Nombre servicio</label>
        
        <div class="col-lg-6">
          <%= f.text_field :nombre, :class => "form-control input-sm", :placeholder =>"Ingrese el nombre" %>
      
        </div><!-- /.col -->
      </div><!-- /form-group -->


    

    <div class="form-group">
    <label class="control-label col-lg-2">Empresa</label>
                
        <div class="col-lg-6">
          <%= f.number_field :id_empresa, :class => "form-control input-sm", :data_type =>"digits" %>
        
        </div><!-- /.col -->
    </div><!-- /form-group -->


    <div class="form-group">
         <label class="control-label col-lg-2">Creacion</label>            
        <div class="col-lg-6">
           <%= f.date_select :creacion, :class =>"form-control input-sm" %>
         
        </div><!-- /.col -->
    </div><!-- /form-group -->    

    <div class="form-group">
        <label class="control-label col-lg-2">Precio</label>
                       
        <div class="col-lg-6">
           <%= f.text_field :precio, :class => "form-control " %>
          
        </div><!-- /.col -->
    </div><!-- /form-group -->

    <div class="form-group">
        <label class="control-label col-lg-2">Estado de deuda</label>
            

        <div class="col-lg-6 ">             
             <%= select(:servicio,:pagado , [['Pagado', 1], ['No pagado', 0]], :class => "choosen-single") %>

        </div>                                       
  
    </div><!-- /form-group -->


 


  </div><!-- /panel-body -->



  <div class="actions" style="position:relative; top:50px ;left:300px" >
    <a href="/servicios" class="btn btn-warning">
      <i class="fa fa-chevron-left"></i>
      Volver
    </a>  
    <%= f.submit :Aceptar, :class => "btn btn-success"%>
    

  </div>                 
</div>










<% end %>






