
</div><!-- /panel -->
  <div class="panel panel-default table-responsive">

  <div class="panel-heading">
    Lista de servicios
    <span class="label label-info pull-right"> <%= @servicios.length %> Items</span>
  </div>

  <div class="padding-md clearfix">

  <table class="table table-striped" id="dataTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Creado</th>
        <th>Precio</th>
        <th>Pagado</th>
        <th>Avance</th>
      </tr>
    </thead>
    <tbody>
      <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.nombre %></td>
        <td><%= servicio.id_empresa %></td>
        <td><%= servicio.creacion %></td>
        <td>$<%= servicio.precio %></td>
        <td><%= servicio.pagado %></td>
        <td>
          <div class="progress">
            <div class="progress-bar" style="width:<%= (servicio.tareas_terminadas*100)/servicio.tareas_cantidad %>%"></div>
            </small>
          </div>
          <small class="pull-right text-muted"><%= (servicio.tareas_terminadas*100)/servicio.tareas_cantidad %>%
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /panel -->



<script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
  </script>