  <script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
  </script>


<h1 style="position:relative ;left:300px">Lista de servicios</h1>


          <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            Data Table
            <span class="label label-info pull-right">790 Items</span>
          </div>
          <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Sales</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
                <% @servicios.each do |servicio| %>
                <tr class="odd">
                  <td><%= servicio.id %></td>
                  <td><%= servicio.nombre %></td>
                  <td><%= servicio.precio %></td>
                  <td><%= servicio.id_empresa %></td>
                  <td><%= servicio.pagado %></td>
                  <td><%= servicio.creacion %></td>
                  <td><%= servicio.avance %></td>




                  <td> <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, servicio_path(servicio) %></td>
                  <td><%= link_to '<i class="fa fa-edit fa-lg "></i>'.html_safe, edit_servicio_path(servicio) %></td>

                  <td><%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe,servicio, method: :delete %></td>
                  


                </tr>
                <% end %>
              </tbody>              
            </table>
          </div><!-- /.padding-md -->
        </div><!-- /panel -->



  



