 <h1 align="center">Mis Servicios</h1>

</div><!-- /panel -->
  <div class="panel panel-default table-responsive">
 
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <div class="row">
  <div class="col-md-6"> 
    <h4> Servicio </h4>
  </div>
  <div class="col-md-6">
    <%if current_usuario.tipo_de_usuario ==2%>
    <%= link_to "Nuevo servicio".html_safe, new_servicio_path , :class => "btn btn-success  pull-right"%>
    <%end%>
    </div>
  </div>

</div><!-- /panel -->
  <div class="panel panel-default table-responsive">
 
  <div class="panel-heading">
   
    <span class="label label-info pull-right"> <%= @servicios.length %> Items</span>
  </div>
 
  <div class="padding-md clearfix">
 
  <table class="table table-striped" id="dataTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Avance</th>
        <th>%</th>
        <th >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.nombre %></td>
        <td><%= Empresa.find(servicio.id_empresa).nombre_comercial %></td>


        <td>
          <div class="progress">
            <div class="progress-bar" style="width:<%= (servicio.tareas_terminadas*100)/(servicio.tareas_cantidad.nonzero? || 1) %>%"></div>
            
          </div>
        </td>
        <td >
          <small  class="pull-right text-muted"><%= (servicio.tareas_terminadas*100)/(servicio.tareas_cantidad.nonzero? || 1) %>%
          </small>
        </td>
        <% if current_usuario.tipo_de_usuario == 4 %>
        <td > <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, servicio_path(servicio) %>
        <% else %>
        <td > <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, servicio_path(servicio) %>
         <%= link_to '<i class="fa fa-edit fa-lg "></i>'.html_safe, edit_servicio_path(servicio) %>
         <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe,servicio, method: :delete %>
        <!-- <%= link_to '<i class="fa fa-plus fa-lg"></i>'.html_safe, new_tarea_path %> -->
       </td>
       <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /panel -->
 
 
 
<script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
  </script>