<h1>Listing servicios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Id servicio</th>
      <th>Tareas usuarios</th>
      <th>Propietario</th>
      <th>Fecha de creacion</th>
      <th>Tarifa</th>
      <th>Estado de pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.nombre %></td>
        <td><%= servicio.id_servicio %></td>
        <td><%= servicio.tareas_usuarios_id %></td>
        <td><%= servicio.propietario_id %></td>
        <td><%= servicio.fecha_de_creacion %></td>
        <td><%= servicio.tarifa %></td>
        <td><%= servicio.estado_de_pago %></td>
        <td><%= link_to 'Show', servicio %></td>
        <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicio', new_servicio_path %>
