<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @servicio.nombre %>
</p>

<p>
  <strong>Id servicio:</strong>
  <%= @servicio.id_servicio %>
</p>

<p>
  <strong>Tareas usuarios:</strong>
  <%= @servicio.tareas_usuarios_id %>
</p>

<p>
  <strong>Propietario:</strong>
  <%= @servicio.propietario_id %>
</p>

<p>
  <strong>Fecha de creacion:</strong>
  <%= @servicio.fecha_de_creacion %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @servicio.tarifa %>
</p>

<p>
  <strong>Estado de pago:</strong>
  <%= @servicio.estado_de_pago %>
</p>

<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
