
<h1 align="center" style="position:relative ;left:-100px"> Servicio</h1>
<%= form_for(@servicio, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="padding-md">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            
              <div class="col-xs-6 col-sm-12 col-md-6">
                <strong class="font-14"><%= @servicio.nombre%></strong>
                <small class="block text-muted">
                  Empresa: <%= Empresa.find(@servicio.id_empresa).nombre_comercial  %>
                </small>                              
              </div><!-- /.col -->
            
            <div class="panel" >              
              <div class="panel-body" >
                <div class="row">                  
                  <div class="col-xs-7 text-center">
                    <span class=" block font-14"><%= @servicio.tareas_cantidad - @servicio.tareas_terminadas%></span>
                    <small class="text-muted">Tareas Pendientes</small>
                  </div><!-- /.col -->
                  <div class="col-xs-4 text-center">
                    <span class="block font-14"><%= @servicio.tareas_terminadas%></span>
                    <small class="text-muted">Tareas Terminadas</small>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div> <!-- /panel body-->
            </div><!-- /panel -->
          
          </div><!-- /.col -->
          


          <div class="col-md-9 col-sm-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default fadeInDown animation-delay2">
                      <div class="panel-heading">
                       <strong class="font-14"> Datos del servicio </strong>
                      </div>
                      <div class="panel-body">

                      <table cellpadding="2" border="0">
                        <% if @cliente.nil? %>
                          <tr> <td>Cliente</td> <td>: No asignado</td> </tr>
                        <% else %>
                          <tr> <td>Cliente</td> <td>: <%= @cliente.nombre %></td> </tr>
                        <% end %>
                          <tr> <td>Fecha de creación</td> <td>: <%= @servicio.creacion %></td> </tr>
                          <% if @servicio.pagado? %>
                            <tr> <td>Estado de deuda</td> <td>: Pagado</td> </tr>
                          <%else%>
                            <tr> <td>Estado de deuda</td> <td>: No pagado</td> </tr>
                          <% end %>
                          <tr> <td>Precio del servicio</td> <td>: $ <%= @servicio.precio %></td> </tr>
                        </table>
                        </div>
                    </div><!-- /panel -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><!-- /.row -->    
  </div><!-- /.padding-md -->

<% end %>
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <div class="row">
  <div class="col-md-6"> 
    <h4> Tareas </h4>
  </div>
  <%if current_usuario.tipo_de_usuario == 2%>
  <div class="col-md-6">
    <%= link_to "Nueva tarea".html_safe, new_tarea_path , :class => "btn btn-success  pull-right"%>
  </div>
  <% end %>
</div>

    </div>
    <div class="padding-md clearfix">
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Ejecutante</th>
            <th>Fecha término</th>
            <th>Archivos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @tareas.each do |tarea| %>
            <tr>
              <td><%= tarea.nombre %></td>
              <td><%= tarea.estado %></td>
              <% if Usuario.find_by_id(tarea.ejecutante).nil? %>
              <td>No asignado</td><br>
              <% else %>
              <td><%= Usuario.find_by(id: tarea.ejecutante).nombre %></td>
              <% end %>
              <td><%= tarea.termino %></td>
              <td><%= tarea.nombreArchivo %></td>
              <td><%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, tarea_path(tarea) %>
              <%= link_to '<i class="fa fa-edit fa-lg "></i>'.html_safe, edit_tarea_path(tarea) %>
              <%= link_to '<i class="fa fa-file-o fa-lg "></i>'.html_safe, archivos_subir_archivos_path(tarea) %>
              </td>
            </tr>
            <% end %>

        </tbody>
      </table>
    </div><!-- /.padding-md -->
  </div><!-- /panel -->
  
<div align="left">
  <a href="/servicios" class="btn btn-warning">
  <i class="fa fa-chevron-left"></i>Volver</a>
</div> 


  <script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
  </script>
