
<h1 align="center" style="position:relative ;left:-100px"> Servicio</h1>
<%= form_for(@servicio, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="padding-md">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            
              <div class="col-xs-6 col-sm-12 col-md-6">
                <strong class="font-14"><%= @servicio.nombre%></strong>
                <small class="block text-muted">
                  Empresa: <%= Empresa.find(@servicio.id_empresa).nombre_comercial  %>
                </small>                              
              </div><!-- /.col -->
            
            <div class="panel">              
              <div class="panel-body">
                <div class="row">                  
                  <div class="col-xs-4 text-center">
                    <span class="block font-14"><%= @servicio.tareas_cantidad%></span>
                    <small class="text-muted">Tareas Pendientes</small>
                  </div><!-- /.col -->
                  <div class="col-xs-4 text-center">
                    <span class="block font-14"><%= @servicio.tareas_terminadas%></span>
                    <small class="text-muted">Tareas Terminadas</small>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div> <!-- /panel body-->
            </div><!-- /panel -->
          
          </div><!-- /.col -->
          


          <div class="col-md-9 col-sm-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default fadeInDown animation-delay2">
                      <div class="panel-heading">
                       <strong class="font-14"> Datos del servicio: </strong>
                      </div>
                      <div class="panel-body">
                        <td>Fecha de creación: <%= @servicio.creacion %></td><br>
                        <% if @servicio.pagado? %>
                          <td>Estado de deuda: Pagado</td><br>
                        <%else%>
                          <td>Estado de deuda: No pagado</td><br>
                        <% end %>
                        <td>Precio del servicio: $ <%= @servicio.precio %></td><br>
                        </div>
                    </div><!-- /panel -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><!-- /.row -->    
  </div><!-- /.padding-md -->

<% end %>
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <div class="row">
  <div class="col-md-6"> 
    <h4> Tareas </h4>
  </div>
  <div class="col-md-6">
    <%= link_to "Nueva tarea".html_safe, new_tarea_path , :class => "btn btn-success  pull-right"%>
  </div>
</div>

    </div>
    <div class="padding-md clearfix">
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Fecha término</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- /.aqui hacer un foeeach de tareas de un servicio -->
            <td align="center"> 
            <i class="fa fa-eye fa-lg"></i>'
            <i class="fa fa-edit fa-lg "></i>
             <i class="fa fa-trash-o fa-lg"></i>
           </td>
          </tr>

        </tbody>
      </table>
    </div><!-- /.padding-md -->
  </div><!-- /panel -->

  <script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
  </script>
