
<h1 align="center" style="position:relative ;left:-100px"> Servicio</h1>
<%= form_for(@servicio, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="panel panel-default fadeInDown animation-delay2">
      <div class="panel-heading">
        Datos del servicio:
      </div>
      <div class="panel-body">
        <td>Nombre: <%= @servicio.nombre %></td><br>
        <td>Id empresa: <%= @servicio.id_empresa %></td><br>
        <td>Fecha de creacion: <%= @servicio.creacion %></td><br>
        <% if @servicio.pagado? %>

            <td>Estado de deuda: Pagado</td><br>
        <%else%>
           <td>Estado de deuda: No pagado</td><br>
         <% end %>  
        <td>Precio del servicio: $ <%= @servicio.precio %></td><br>

      </div>
 
    </div><!-- /panel -->

<% end %>
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <h3>Tareas</h3>
      
      <%= link_to "Nueva tarea".html_safe, new_tarea_path , :class => "btn btn-success  pull-right fa fa-plus fa-lg", :style => "margin-bottom: 1em; margin-right: 1em"%>


    </div>
    <div class="padding-md clearfix">
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Fecha término</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>extraccion molar</td>
            <td>pendiente</td>
            <td>Juan</td>
            <td>30- 15-2015</td>
            <td align="center"> 
            <i class="fa fa-eye fa-lg"></i>'
            <i class="fa fa-edit fa-lg "></i>
             <i class="fa fa-trash-o fa-lg"></i>
           </td>
          </tr>

        </tbody>
      </table>
    </div><!-- /.padding-md -->
  </div><!-- /panel -->

  <script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });
  </script>
