
<h1 align="center" style="position:relative ;left:-100px"> Servicio</h1>
<%= form_for(@servicio, html: {class:"form-horizontal form-border no-margin"}) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


<!--
  <div class="panel panel-default">
    <div class="panel-body" >
      <div class="form-group">
      <label class="control-label col-lg-2">Nombre servicio</label>
        
        <div class="col-lg-6">
         <input type="text" class="form-control input-sm"  value="<%= @servicio.nombre %>" disabled ="true">
 
        
        </div>
      </div>-->
    


    <div class="panel panel-default fadeInDown animation-delay2">
      <div class="panel-heading">
        Datos de la empresa:
      </div>
      <div class="panel-body">
        <td>Nombre: <%= @servicio.nombre %></td><br>
        <td>Id empresa: <%= @servicio.id_empresa %></td><br>
        <td>Fecha de creacion: <%= @servicio.creacion %></td><br>
        <% if @servicio.pagado? %>

            <td>Estado de deuda: Pagado</td><br>
        <%else%>
           <td>Estado de deuda: No pagado</td><br>
         <% end %>  
        <td>Precio del servicio: $ <%= @servicio.precio %></td><br>
        <td>Avance: </td><br>
        
       

      </div>
      <div class="actions" style="position:relative; top:50px ;left:300px" >
        <a href="/servicios" class="btn btn-warning">
         <i class="fa fa-chevron-left"></i>
            Volver
        </a>  
       <%= f.submit :Aceptar, :class => "btn btn-success"%>
      </div>  
    </div><!-- /panel -->

<% end %>

<div class="panel panel-default">
        <div class="panel-heading">
          Tareas
        </div>
        <div class="panel-body">
          Total de tareas registradas en la empresa.
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Creación</th>
              <th>Termino</th>
              <th>Descripcion</th>
              <th>Ejecutante</th>
            </tr>
          </thead>
          <tbody>
            <% @tareas.each do |tarea| %>
        <tr>
          <td><%= tarea.nombre %></td>
          <td><%= tarea.estado %></td>
          <td><%= tarea.creacion %></td>
          <td><%= tarea.termino %></td>
          <td><%= tarea.descripcion %></td>
          <td><%= tarea.ejecutante %></td>
          <td><%= link_to 'Detalles', tarea %></td>
          <td><%= link_to 'Editar', edit_tarea_path(tarea) %></td>
          <td><%= link_to 'Eliminar', tarea, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Nueva Tarea', new_tarea_path %>
  </div>
