	<div class="login-wrapper">
		<div class="text-center">
			<h2 class="fadeInUp animation-delay10" style="font-weight:bold">
				<span class="text-success">Endless</span> <span style="color:#ccc; text-shadow:0 1px #fff">Admin</span>
			</h2>
	    </div>
		<div class="login-widget animation-delay1">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-plus-circle fa-lg"></i> Registrate
				</div>
				<div class="panel-body">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-login"}) do |f| %>
					<%= devise_error_messages! %>
						<div class="form-group">
							  <%= f.label :email %>
							  <%= f.email_field :email, autofocus: true, class: "form-control input-sm bounceIn animation-delay2"  %>
						</div><!-- /form-group -->
						<div class="form-group">
							  <%= f.label :password ,"Contraseña"%> <% if @validatable %><i>(<%= @minimum_password_length %> caracteres mínimos)</i><% end %>
							  <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm bounceIn animation-delay3" %>
						</div><!-- /form-group -->
						<div class="form-group">
							  <%= f.label :password_confirmation,"Confirmar Contraseña" %><br />
							  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm bounceIn animation-delay4" %>
						</div><!-- /form-group -->

						<div class="seperator"></div>
						<div class="form-group">
							<div class="controls">
								¿Ya tienes cuenta? <a href="<%=new_usuario_session_path %>" class="primary-font login-link">Inicia Sesión</a>
							</div>
						</div><!-- /form-group -->
							
						<hr/>
						<div class="form-group">
							<div class="controls text-right">
								  <div><%= f.submit "Registrate",class: "btn btn-success btn-sm bounceIn animation-delay7 " %></div>
							</div>
						</div><!-- /form-group -->
						<% end %>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->
