  <h1 style="position:relative ;left:300px">Lista de Usuarios</h1>


</div><!-- /panel -->
        <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            Lista de Usuarios
          </div>
          <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
              <thead>
                <tr>
              <th>Correo electrónico</th>
              <th>Tipo de usuario</th>
              <% if current_usuario.tipo_de_usuario == 1 && params[:id] == "2" %>
              <th>Empresa</th>
              <%end%>
              <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
            
        <tr>
          <% @usuarios.each do |usuario| %>
          <td><%= usuario.email %></td>
          <%if usuario.tipo_de_usuario == 1  && current_usuario.tipo_de_usuario== 1
              @tipo = "Super Administrador"
            elsif usuario.tipo_de_usuario ==2
              @tipo ="Administrador"
            elsif usuario.tipo_de_usuario ==3
              @tipo ="Ejecutante"
            elsif usuario.tipo_de_usuario ==4
              @tipo ="Cliente"
            end      
              %>
          <td><%= @tipo %></td>

          <%if usuario.tipo_de_usuario == 2%>
          
          <% if usuario.empresas.any? %>

          <td><button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target=".<%= usuario.id %>" >Ver empresas</button></td>

          <div class="modal fade <%= usuario.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Empresas</h4>
                </div>
                <div class="modal-body">
                <% usuario.empresas.each do |e| %>                    
                  <li><%= e.nombre_fantasia %> </li>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <td>Sin empresas asociadas</td>
        <% end %>
          
          <%end%>
        <td> <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, usuario_path(usuario) %>
         <%= link_to '<i class="fa fa-edit fa-lg "></i>'.html_safe, edit_usuario_path(usuario) %>
         <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe %>
        </td>
      </tr>
      <% end %>
              </tbody>
            </table>
        </div><!-- /panel -->

        
        

         
<script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
      });
    });


