
<h1 align="center" style="position:relative ;left:-100px"> Usuario</h1>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

    <div class="panel panel-default fadeInDown animation-delay2">
      <div class="panel-heading">
         <h4>Datos del usuario</h4> 
      </div>
      <div class="panel-body">
        <table cellpadding="2" border="0">
          <tr><td>Nombre</td> <td>: <%= @usuario.nombre %></td></tr>
          <tr><td>Email</td> <td>: <%= @usuario.email %></td></tr>
          
          <% if @usuario.tipo_de_usuario == 1 %>
            <% @tipo = "Super Administrador" %>
          <%elsif @usuario.tipo_de_usuario == 2 %>
            <% @tipo = "Administrador" %>
          <%elsif @usuario.tipo_de_usuario == 3 %>
            <% @tipo = "Ejecutante" %>
          <%elsif @usuario.tipo_de_usuario == 4 %>
            <% @tipo = "Cliente" %>
          <% end %>
          
        


          <tr><td>Tipo de Usuario</td> <td>: <%= @tipo %></td></tr> 
        </table>    
      </div>
       
    </div><!-- /panel -->
     <div align="left">
        <a href="/usuario" class="btn btn-warning">
        <i class="fa fa-chevron-left"></i>Volver</a>
    </div>