<h1>Listing notificacions</h1>

<table>
  <thead>
    <tr>
      <th>Mensaje</th>
      <th>Leido</th>
      <th>Usuario</th>
      <th>Tarea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notificacions.each do |notificacion| %>
      <tr>
        <td><%= notificacion.mensaje %></td>
        <td><%= notificacion.leido %></td>
        <td><%= notificacion.usuario_id %></td>
        <td><%= notificacion.tarea_id %></td>
        <td><%= link_to 'Show', notificacion %></td>
        <td><%= link_to 'Edit', edit_notificacion_path(notificacion) %></td>
        <td><%= link_to 'Destroy', notificacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notificacion', new_notificacion_path %>
