<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @notificacion.mensaje %>
</p>

<p>
  <strong>Leido:</strong>
  <%= @notificacion.leido %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @notificacion.usuario_id %>
</p>

<p>
  <strong>Tarea:</strong>
  <%= @notificacion.tarea_id %>
</p>

<%= link_to 'Edit', edit_notificacion_path(@notificacion) %> |
<%= link_to 'Back', notificacions_path %>
