<!--Super administrador-->
<% if current_usuario.tipo_de_usuario == 1 %>

  <div class="panel panel-default">
        <div class="panel-heading">
          Compañias
        </div>
        <div class="panel-body">
          Total de compañias registradas en el sistema.
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Nombre fantasia</th>
              <th>Nombre comercial</th>
              <th>Correo</th>
              <th>Web</th>
              <th>Telefono</th>
              <th>Duracion</th>
              <th>Region</th>
              <th>Representante</th>
              <th>Giro</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
        <tr>
          <td><%= company.nombre_fantasia %></td>
          <td><%= company.nombre_comercial %></td>
          <td><%= company.correo %></td>
          <td><%= company.web %></td>
          <td><%= company.telefono %></td>
          <td><%= company.duracion %></td>
          <td><%= company.region %></td>
          <td><%= company.representante %></td>
          <td><%= company.giro %></td>
          <td><%= link_to 'Show', company %></td>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'New Company', new_company_path %>
  </div>

<!--administrador-->
<% elsif current_usuario.tipo_de_usuario == 2 %>
  <div class="panel panel-default">
        <div class="panel-heading">
          Compañias
        </div>
        <div class="panel-body">
          Total de compañias registradas en el sistema.
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
             <th>Nombre fantasia</th>
            <th>Nombre comercial</th>
            <th>Correo</th>
            <th>Web</th>
            <th>Telefono</th>
            <th>Duracion</th>
            <th>Region</th>
            <th>Representante</th>
            <th>Giro</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
            <tr>
              <td><%= company.nombre_fantasia %></td>
              <td><%= company.nombre_comercial %></td>
              <td><%= company.correo %></td>
              <td><%= company.web %></td>
              <td><%= company.telefono %></td>
              <td><%= company.duracion %></td>
              <td><%= company.region %></td>
              <td><%= company.representante %></td>
              <td><%= company.giro %></td>
              <td><%= link_to 'Show', company %></td>
              <td><%= link_to 'Edit', edit_company_path(company) %></td>          
            </tr>
      <% end %>
          </tbody>
        </table>
  </div>
  
<!--Ejecutante-->
<% elsif current_usuario.tipo_de_usuario == 3 %>
  <div class="panel panel-default">
        <div class="panel-heading">
          Compañias
        </div>
        <div class="panel-body">
          Total de compañias registradas en el sistema.
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
            <th>Nombre fantasia</th>
            <th>Nombre comercial</th>
            <th>Correo</th>
            <th>Web</th>
            <th>Telefono</th>
            <th>Duracion</th>
            <th>Region</th>
            <th>Representante</th>
            <th>Giro</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td><%= company.nombre_fantasia %></td>
                <td><%= company.nombre_comercial %></td>
                <td><%= company.correo %></td>
                <td><%= company.web %></td>
                <td><%= company.telefono %></td>
                <td><%= company.duracion %></td>
                <td><%= company.region %></td>
                <td><%= company.representante %></td>
                <td><%= company.giro %></td>
                <td><%= link_to 'Show', company %></td>
              </tr> 
          </tbody>
        </table>
</div>
<%end%>
<!--Cliente-->
<% elsif current_usuario.tipo_de_usuario == 4 %>
  <div class="panel panel-default">
        <div class="panel-heading">
          Compañias
        </div>
        <div class="panel-body">
          Total de compañias registradas en el sistema.
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Nombre fantasia</th>
              <th>Dirección</th>
              <th>Region</th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td><%= company.nombre_fantasia %></td>
                <td><%= company.direccion %></td>
                <td><%= company.region %></td>
                <td><%= link_to 'Ver detalles', company %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>

<%end%>


