<%
regiones= [  
            "XV - Arica y Parinacota",
            "I - Tarapacá",
            "II - Antofagasta",
            "III - Atacama",
            "IV - Coquimbo",
            "V - Valparaíso",
            "VI - O'Higgins",
            "VII - Maule",
            "VIII - BioBió",
            "IX - Araucanía",
            "XIV - Los Ríos",
            "X - Los Lagos",
            "XI - Aysén",
            "XII - Magallanes",
            "RM - Metropolitana"
]
giro= [
            "Agricultura, ganadería, caza y silvicultura",
            "Pesca",
            "Explotación de minas y canteras",
            "Industrias manufactureras no metálicas",
            "Industrias manufactureras metálicas",
            "Suministro de electricidad, gas y agua",
            "Construcción",
            "Comercio al por mayor y menor; rep. Veh.automotores/enseres domésticos",
            "Hoteles y restaurantes",
            "Transporte, almacenamiento y comunicaciones",
            "Intermediación financiera",
            "Actividades inmobiliarias, empresariales y de alquiler",
            "Adm. Pública y defensa; planes de seg. Social afiliación obligatoria",
            "Enseñanza",
            "Servicios sociales y de salud",
            "Otras actividades de servicios comunitarias, sociales y personales"
      ]

%>
<%= form_for(@empresa) do |f| %>
<% if @empresa.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@empresa.errors.count, "error") %> No se puede almacenar:</h2>

  <ul>
    <% @empresa.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if current_usuario.tipo_de_usuario == 1 || current_usuario.tipo_de_usuario == 2 %>
<div class="panel panel-default">
    <div class="panel-heading">
      Editar empresa
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="empresa_nombre_fantasia" class="control-label col-lg-3">Nombre de fantasía</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" data-required="true" id="empresa_nombre_fantasia" name="empresa[nombre_fantasia]" value="<%= @empresa.nombre_fantasia%>" required>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Nombre comercial</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" data-required="true" id="empresa_nombre_comercial" name="empresa[nombre_comercial]" value="<%= @empresa.nombre_comercial%>" required>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Email</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" data-type="email" value="<%=@empresa.correo=%>" id="empresa_correo" name="empresa[correo]" >
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Página web</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" data-type="url" id="empresa_web" name="empresa[web]" value="<%= @empresa.web=%>">
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Teléfono</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" data-type="digits" id="empresa_telefono" name="empresa[telefono]" value="<%= @empresa.telefono=%>">
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Dirección</label>
        <div class="col-lg-9">
          <input type="text" class="form-control input-sm" id="empresa_direccion" name="empresa[direccion]" value="<%=@empresa.direccion=%>" required>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Región</label>
        <div class="col-lg-9">
          <select type="text" class="form-control chzn-select" id="empresa_region" value="<%=@empresa.region=%>" name="empresa[region]" required>
            <% regiones.each do |region|%>
            <option <% if @empresa.region == region%>
                      <%= "selected" %>
                      <% end %>
                      ><%=region%></option>
            <%end %>
          </select>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Representante</label>
        <div class="col-lg-9">
            <input type="text" class="form-control input-sm" data-type="representante" placeholder="Representante" id="empresa_representante" name="empresa[representante]">
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="control-label col-lg-3">Giro</label>
        <div class="col-lg-9">
          <select type="text" class="form-control chzn-select" id="empresa_giro" value="<%=@empresa.giro=%>" name="empresa[giro]" required>
            <% giro.each do |giro|%>
            <option <% if @empresa.giro == giro%>
                      <%= "selected" %>
                      <% end %>
                      ><%=giro%></option>
            <%end %>
          </select>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /form-group -->
    </div><!-- /panel-body -->
  </div><!-- /panel-heading -->
  <div align="left">
    <a href="/empresas" class="btn btn-warning"> <i class="fa fa-chevron-left"></i>Volver</a>
    <button name="commit" class="btn btn-success" type="submit">Aceptar</button>
  </div>
<% end %>
<% end %>
<script type="text/javascript">
    $(function  ()  {
        $(".chzn-select").chosen();
    });
</script>


