    <!--Super administrador-->
    <% if current_usuario.tipo_de_usuario == 1 %>

<div class="panel panel-default table-responsive">
    <div class="panel-heading">
      <div class="row">
  <div class="col-md-6"> 
    <h4> Empresas </h4>
  </div>
  <div class="col-md-6">
    <%= link_to "Nueva Empresa".html_safe, new_empresa_path , :class => "btn btn-success  pull-right"%>
  </div>
      </div>

  </div><!-- /panel heading-->
       <div class="padding-md clearfix"> 
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
              <th>Nombre fantasia</th>
              <th>Nombre comercial</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @empresas.each do |empresa| %>
            <tr>
              <td><%= empresa.nombre_fantasia %></td>
              <td><%= empresa.nombre_comercial %></td>
              <td><%= empresa.correo %></td>
              <td><%= empresa.telefono %></td>
              <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a>
                  <a class="fa fa-edit fa-lg" href="/empresas/<%=empresa.id=%>/edit"></a>
                  <%= link_to '<i class="fa fa-file-o fa-lg "></i>'.html_safe, imagenes_subir_imagen_path(empresa) %>
                  <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, empresa, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!--administrador-->
      <% elsif current_usuario.tipo_de_usuario == 2 %>
      <div class="panel panel-default table-responsive">
        <div class="panel-heading">
         Total de compañias registradas en el sistema.
         <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
       </div>
       <div class="padding-md clearfix"> 
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
             <th>Nombre fantasia</th>
              <th>Nombre comercial</th>
              <th>Correo</th>
              <th>Dirección</th>
              <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.nombre_fantasia %></td>
              <td><%= empresa.nombre_comercial %></td>
              <td><%= empresa.correo %></td>
              <td><%= empresa.direccion %></td>
              <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a>
                  <a class="fa fa-edit fa-lg" href="/empresas/<%=empresa.id=%>/edit"></a>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--Ejecutante-->
    <% elsif current_usuario.tipo_de_usuario == 3 %>
    <div class="panel panel-default table-responsive">
      <div class="panel-heading">
       Total de compañias registradas en el sistema.
       <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
     </div>
     <div class="padding-md clearfix"> 
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
           <th>Nombre fantasia</th>
           <th>Correo</th>
           <th>Acciones</th>
         </tr>
       </thead>
       <tbody>
        <% @empresas.each do |empresa| %>
        <tr>
          <td><%= empresa.nombre_fantasia %></td>
          <td><%= empresa.correo %></td>
          <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--Cliente-->
  <% else current_usuario.tipo_de_usuario == 4 %>
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
     Total de compañias registradas en el sistema.
     <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
   </div>
   <div class="padding-md clearfix"> 
    <table class="table table-striped" id="dataTable">
      <thead>
        <tr>
         <th>Nombre fantasia</th>
         <th>Correo</th>
         <th>Acciones</th>
       </tr>
     </thead>
     <tbody>
      <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nombre_fantasia %></td>
        <td><%= empresa.correo %></td>
        <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>
<%end%>
<script>
$(function  ()  {
  $('#dataTable').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
  });
});
</script>