    <!--Super administrador-->
    <% if current_usuario.tipo_de_usuario == 1 %>

    <div class="panel panel-default">
      <div class="panel panel-default table-responsive">
        <div class="panel-heading">
         Total de compañias registradas en el sistema.
         <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
       </div>
       <div class="padding-md clearfix"> 
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
              <th>Nombre fantasia</th>
              <th>Nombre comercial</th>
              <th>Correo</th>
              <th>Web</th>
              <th>Telefono</th>
              <th>Duracion</th>
              <th>Region</th>
              <th>Giro</th>
              <th>Detalles</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% @empresas.each do |empresa| %>
            <tr>
              <td><%= empresa.nombre_fantasia %></td>
              <td><%= empresa.nombre_comercial %></td>
              <td><%= empresa.correo %></td>
              <td><%= empresa.web %></td>
              <td><%= empresa.telefono %></td>
              <td><%= empresa.direccion %></td>
              <td><%= empresa.region %></td>
              <td><%= empresa.giro %></td>
              <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
              <td><a class="fa fa-edit fa-lg" href="/empresas/<%=empresa.id=%>/edit"></a></td>
              <td><%= link_to 'Eliminar', empresa, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Nueva empresa', new_empresa_path %>
      </div>

      <!--administrador-->
      <% elsif current_usuario.tipo_de_usuario == 2 %>
      <div class="panel panel-default table-responsive">
        <div class="panel-heading">
         Total de compañias registradas en el sistema.
         <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
       </div>
       <div class="padding-md clearfix"> 
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
             <th>Nombre fantasia</th>
              <th>Nombre comercial</th>
              <th>Correo</th>
              <th>Web</th>
              <th>Telefono</th>
              <th>Duracion</th>
              <th>Region</th>
              <th>Giro</th>
              <th>Detalles</th>
              <th>Editar</th>
           </tr>
         </thead>
         <tbody>
          <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.nombre_fantasia %></td>
              <td><%= empresa.nombre_comercial %></td>
              <td><%= empresa.correo %></td>
              <td><%= empresa.web %></td>
              <td><%= empresa.telefono %></td>
              <td><%= empresa.direccion %></td>
              <td><%= empresa.region %></td>
              <td><%= empresa.giro %></td>
            <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
            <td><a class="fa fa-edit fa-lg" href="/empresas/<%=empresa.id=%>/edit"></a></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--Ejecutante-->
    <% elsif current_usuario.tipo_de_usuario == 3 %>
    <div class="panel panel-default table-responsive">
      <div class="panel-heading">
       Total de compañias registradas en el sistema.
       <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
     </div>
     <div class="padding-md clearfix"> 
      <table class="table table-striped" id="dataTable">
        <thead>
          <tr>
           <th>Nombre fantasia</th>
           <th>Correo</th>
           <th>Web</th>
           <th>Direccion</th>
           <th>Region</th>
           <th>Giro</th>
           <th>Detalles</th>
         </tr>
       </thead>
       <tbody>
        <% @empresas.each do |empresa| %>
        <tr>
          <td><%= empresa.nombre_fantasia %></td>
          <td><%= empresa.correo %></td>
          <td><%= empresa.web %></td>
          <td><%= empresa.direccion %></td>
          <td><%= empresa.region %></td>
          <td><%= empresa.giro %></td>
          <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--Cliente-->
  <% else current_usuario.tipo_de_usuario == 4 %>
  <div class="panel panel-default table-responsive">
    <div class="panel-heading">
     Total de compañias registradas en el sistema.
     <span class="label label-info pull-right"><%=@empresas.count=%> Empresas</span>
   </div>
   <div class="padding-md clearfix"> 
    <table class="table table-striped" id="dataTable">
      <thead>
        <tr>
         <th>Nombre fantasia</th>
         <th>Correo</th>
         <th>Web</th>
         <th>Direccion</th>
         <th>Region</th>
         <th>Detalles</th>
       </tr>
     </thead>
     <tbody>
      <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nombre_fantasia %></td>
        <td><%= empresa.correo %></td>
        <td><%= empresa.web %></td>
        <td><%= empresa.direccion %></td>
        <td><%= empresa.region %></td>
        <td><a class="fa fa-eye fa-lg" href="/empresas/<%=empresa.id=%>"></a></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>
<%end%>
<script>
$(function  ()  {
  $('#dataTable').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
  });
});
</script>