<% if current_usuario.tipo_de_usuario == 1 %>

<div class="panel panel-default fadeInDown animation-delay2">
  <div class="panel-heading">
    Datos de la empresa:
  </div>
  <div class="panel-body">
    <td>Nombre de fantasía: <%= @empresa.nombre_fantasia %></td><br>
    <td>Nombre comercial: <%= @empresa.nombre_comercial %></td><br>
    <td>Email: <%= @empresa.correo %></td><br>
    <td>Web: <%= @empresa.web %></td><br>
    <td>Teléfono: <%= @empresa.telefono %></td><br>
    <td>Dirección: <%= @empresa.direccion %></td><br>
    <td>Region: <%= @empresa.region %></td><br>
    <td>Representante: <%= @empresa.representante %></td><br>
    <td>Giro: <%= @empresa.giro %></td>                  
    
    <%= link_to 'Edit', edit_empresa_path(@empresa) %> </div>

<% elsif current_usuario.tipo_de_usuario == 2 %>

  <div class="panel panel-default fadeInDown animation-delay2">
    <div class="panel-heading">
      Datos de la empresa:
    </div>
    <div class="panel-body">
      <td>Nombre de fantasía: <%= @empresa.nombre_fantasia %></td><br>
      <td>Nombre comercial: <%= @empresa.nombre_comercial %></td><br>
      <td>Email: <%= @empresa.correo %></td><br>
      <td>Web: <%= @empresa.web %></td><br>
      <td>Teléfono: <%= @empresa.telefono %></td><br>
      <td>Dirección: <%= @empresa.direccion %></td><br>
      <td>Region: <%= @empresa.region %></td><br>
      <td>Representante: <%= @empresa.representante %></td><br>
      <td>Giro: <%= @empresa.giro %></td>                  

      <%= link_to 'Edit', edit_empresa_path(@empresa) %> </div>

<% elsif current_usuario.tipo_de_usuario == 3 %>
  <div class="panel panel-default fadeInDown animation-delay2">
    <div class="panel-heading">
      Datos de la empresa:
    </div>
    <div class="panel-body">
      <td>Nombre de fantasía: <%= @empresa.nombre_fantasia %></td><br>
      <td>Email: <%= @empresa.correo %></td><br>
      <td>Web: <%= @empresa.web %></td><br>
      <td>Dirección: <%= @empresa.direccion %></td><br>
      <td>Region: <%= @empresa.region %></td><br>
      <td>Giro: <%= @empresa.giro %></td>                  

      <% elsif current_usuario.tipo_de_usuario == 4 %>
      <div class="panel panel-default fadeInDown animation-delay2">
        <div class="panel-heading">
          Datos de la empresa:
        </div>
        <div class="panel-body">
          <td>Nombre de fantasía: <%= @empresa.nombre_fantasia %></td><br>
          <td>Email: <%= @empresa.correo %></td><br>
          <td>Web: <%= @empresa.web %></td><br>
          <td>Dirección: <%= @empresa.direccion %></td><br>
          <td>Region: <%= @empresa.region %></td><br>
<% end %>

<a href="/empresas" class="btn btn-warning">
  <i class="fa fa-chevron-left"></i>
  Atrás
</a>