  <% if current_usuario.tipo_de_usuario == 1 || current_usuario.tipo_de_usuario == 2%>
  <div class="padding-md">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-6 text-center">
                <a href="#">
                  <img src="/assets/<%=@empresa.nombre_fantasia=%>.jpg" alt="User Avatar" class="img-thumbnail">
                </a>
                <div class="seperator"></div>
                <div class="seperator"></div>
              </div><!-- /.col -->
              <div class="col-xs-6 col-sm-12 col-md-6">
                <strong class="font-14"><%= @empresa.nombre_fantasia %></strong>
                <small class="block text-muted">
                  <%= @empresa.correo %>
                </small> 
                <div class="seperator"></div>
                
                <div class="seperator"></div>
                <a href="#" class="social-connect tooltip-test facebook-hover" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-connect tooltip-test twitter-hover" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social-connect tooltip-test google-plus-hover" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <div class="seperator"></div>
                <div class="seperator"></div>
              </div><!-- /.col -->
            </div><!-- /.row -->
            
          </div><!-- /.col -->
          <div class="col-md-9 col-sm-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default fadeInDown animation-delay2">
                      <div class="panel-heading">
                        Datos de la empresa
                      </div>
                      <div class="panel-body">
                        <table cellpadding="2" border="0">
                          <tr> <td>Nombre comercial</td> <td>: <%= @empresa.nombre_comercial %> </td> </tr>
                          <tr> <td>Web</td> <td>: <%= @empresa.web %> </td></tr>
                          <tr> <td>Teléfono</td> <td>: <%= @empresa.telefono %> </td> </tr>
                          <tr> <td>Dirección </td> <td>: <%= @empresa.direccion %> </td> </tr>
                          <tr> <td>Region </td> <td>: <%= @empresa.region %> </td> </tr>
                          <tr> <td>Representante </td> <td>: <%= @empresa.representante %> </td> </tr>
                          <tr> <td>Giro </td> <td>: <%= @empresa.giro %> </td> </tr>
                        </table> 
                      </div>
                    </div><!-- /panel -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><!-- /.row -->    
  </div><!-- /.padding-md -->
 <% elsif current_usuario.tipo_de_usuario == 3 || current_usuario.tipo_de_usuario == 4%>
      <div class="padding-md">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="row">
              <div class="col-xs-6 col-sm-12 col-md-6 text-center">
                <a href="#">
                  <img src="/assets/<%=@empresa.nombre_fantasia=%>.jpg" alt="User Avatar" class="img-thumbnail">
                </a>
                <div class="seperator"></div>
                <div class="seperator"></div>
              </div><!-- /.col -->
              <div class="col-xs-6 col-sm-12 col-md-6">
                <strong class="font-14"><%= @empresa.nombre_fantasia %></strong>
                <small class="block text-muted">
                  <%= @empresa.correo %>
                </small> 
                <div class="seperator"></div>
                
                <div class="seperator"></div>
                <a href="#" class="social-connect tooltip-test facebook-hover" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-connect tooltip-test twitter-hover" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social-connect tooltip-test google-plus-hover" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <div class="seperator"></div>
                <div class="seperator"></div>
              </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="panel">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <span class="block font-14">301</span>
                    <small class="text-muted">Servicios</small>
                  </div><!-- /.col -->
                  <div class="col-xs-4 text-center">
                    <span class="block font-14">129</span>
                    <small class="text-muted">Tareas Pendientes</small>
                  </div><!-- /.col -->
                  <div class="col-xs-4 text-center">
                    <span class="block font-14">2731</span>
                    <small class="text-muted">Tareas Terminadas</small>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div>
            </div><!-- /panel -->
          </div><!-- /.col -->
          <div class="col-md-9 col-sm-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default fadeInDown animation-delay2">
                      <div class="panel-heading">
                        Datos de la empresa
                      </div>
                      <div class="panel-body">
                        <table cellpadding="2" border="0">
                          <tr><td>Web</td> <td>: <%= @empresa.web %></td></tr>
                          <tr><td>Teléfono</td> <td>: <%= @empresa.telefono %></td></tr>
                          <tr><td>Dirección</td> <td>: <%= @empresa.direccion %></td></tr>
                          <tr><td>Region</td> <td>: <%= @empresa.region %></td></tr>
                          <tr><td>Giro</td> <td>: <%= @empresa.giro %></td></tr>
                        </table>
                      </div>
                    </div><!-- /panel -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div><!-- /.row -->    
  </div><!-- /.padding-md -->
<%end%>
<div align="left">  
<a href="/empresas" class="btn btn-warning">
<i class="fa fa-chevron-left"></i>Volver</a>
</div> 