<!DOCTYPE html>
<html lang="es">
<head>
  <title>Taller2ClienteSii</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if usuario_signed_in? %>

<body class="overflow-hidden">
	<!-- Overlay Div -->
	<div id="overlay" class="transparent"></div>

	<a href="" id="theme-setting-icon"><i class="fa fa-cog fa-lg"></i></a>
	<div id="theme-setting">
		<div class="title">
			<strong class="no-margin">Color del Template</strong>
		</div>
		<div class="theme-box">
			<a class="theme-color" style="background:#323447" id="default"></a>
			<a class="theme-color" style="background:#efefef" id="skin-1"></a>
			<a class="theme-color" style="background:#a93922" id="skin-2"></a>
			<a class="theme-color" style="background:#3e6b96" id="skin-3"></a>
			<a class="theme-color" style="background:#635247" id="skin-4"></a>
		</div>
	</div>

	<div id="wrapper" class="preload">
		<div id="top-nav" class="fixed skin-6">           
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav-notification clearfix">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-envelope fa-lg"></i>
						<span class="notification-label bounceIn animation-delay4">7</span>
					</a>
					<ul class="dropdown-menu message dropdown-1">
						<li><a>Ultimos Mensajes</a></li>					  
						<li>
							<a class="clearfix" href="#">
								<%= image_tag("male.jpg")%>
								<div class="detail">
									<strong>Usuario2</strong>
									<p class="no-margin">
										Lorem ipsum dolor sit amet...
									</p>
									<small class="text-muted"><i class="fa fa-check text-success"></i> 27m ago</small>
								</div>
							</a>	
						</li>
						<li>
							<a class="clearfix" href="#">
								<%= image_tag("male.jpg")%>
								<div class="detail">
									<strong>Baby Doe</strong>
									<p class="no-margin">
										Lorem ipsum dolor sit amet...
									</p>
									<small class="text-muted"><i class="fa fa-reply"></i> 9 Feb 2013</small>
								</div>
							</a>	
						</li>
						<li><a href="#">Ver todos los mensajes</a></li>					  
					</ul>
				</li>
				<li class="dropdown hidden-xs">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tasks fa-lg"></i>
						<span class="notification-label bounceIn animation-delay5">4</span>
					</a>
					<ul class="dropdown-menu task dropdown-2">
						<li><a href="#">Nuevas tareas</a></li>					  
						<li>
							<a href="#">
								<div class="clearfix">
									<span class="pull-left">Bug Fixes</span>
									<small class="pull-right text-muted">78%</small>
								</div>
								<div class="progress">
									<div class="progress-bar" style="width:78%"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="clearfix">
									<span class="pull-left">Software Updating</span>
									<small class="pull-right text-muted">54%</small>
								</div>
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-success" style="width:54%"></div>
								</div>
							</a>
						</li>
						<li><a href="#">Ver todas las tareas</a></li>					  
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-bell fa-lg"></i>
						<span class="notification-label bounceIn animation-delay6">5</span>
					</a>
					<ul class="dropdown-menu notification dropdown-3">
						<li><a href="#">Nuevas Notificaciones</a></li>					  
						<li>
							<a href="#">
								<span class="notification-icon bg-warning">
									<i class="fa fa-warning"></i>
								</span>
								<span class="m-left-xs">Server #2 not responding.</span>
								<span class="time text-muted">Just now</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="notification-icon bg-success">
									<i class="fa fa-plus"></i>
								</span>
								<span class="m-left-xs">New user registration.</span>
								<span class="time text-muted">2m ago</span>
							</a>
						</li>
						<li><a href="#">Ver todas las notificaciones</a></li>					  
					</ul>
				</li>
				<li class="profile dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<strong><%= current_usuario.email %></strong>
						<span><i class="fa fa-chevron-down"></i></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="clearfix" href="#">
								<%= image_tag("male.jpg")%>
								<div class="detail">
									<strong><%= current_usuario.email %></strong>
									<p class="grey"><%= current_usuario.email %></p> 
								</div>
							</a>
						</li>
						<li><a tabindex="-1" href="#" class="main-link"><i class="fa fa-edit fa-lg"></i> Editar Perfil</a></li>
						<li class="divider"></li>
						<li>
							<%= link_to '<i class="fa fa-lock fa-lg"></i> Cerrar Sesión'.html_safe, destroy_usuario_session_path, method: :delete %>
						</li>
					</ul>
				</li>
			</ul>
        </div>
        <aside class="fixed skin-6">
        	<div class="brand">
            	<span>MI</span>
                <span class="text-toggle">MEMO!</span>
            </div>  
			<div class="sidebar-inner scrollable-sidebar">
				<div class="size-toggle">
					<a class="btn btn-sm" id="sizeToggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<%= link_to '<i class="fa fa-power-off"></i>'.html_safe, destroy_usuario_session_path, method: :delete, class: "btn btn-sm pull-right"%>
				</div>
				<div class="user-block clearfix">
					
					<div class="detail">
						<%= image_tag("male.jpg")%>
						<strong>
							<%= current_usuario.email %>
						</strong>
						<ul class="list-inline">
							<li><a href="#"> Perfil</a></li>
						</ul>
					</div>
				</div>
        		<div class="main-menu">
					<ul>
						<% if current_usuario.tipo_de_usuario == 1 %>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-users fa-lg"></i> 
								</span>
								<span class="text">
									Usuarios
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										Super Administradores
									</a>
								</li>
								<li>
									<a href="#">
										Administradores
									</a>
								</li>
								<li>
									<a href="#">
										Ejecutantes
									</a>
								</li>
								<li>
									<a href="#">
										Clientes
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Empresas
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<% elsif current_usuario.tipo_de_usuario == 2 %>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Mis Empresas
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-users fa-lg"></i> 
								</span>
								<span class="text">
									Usuarios
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										Administradores
									</a>
								</li>
								<li>
									<a href="#">
										Ejecutantes
									</a>
								</li>
								<li>
									<a href="#">
										Clientes
									</a>
								</li>
							</ul>
						</li>
						<% elsif current_usuario.tipo_de_usuario == 3 %>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Empresa
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-file-text fa-lg"></i> 
								</span>
								<span class="text">
										Tareas 
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										Asignadas
									</a>
								</li>
								<li>
									<a href="#">
										Terminadas
									</a>
								</li>
							</ul>
						</li>

						<% elsif current_usuario.tipo_de_usuario == 4 %>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
										Empresas 
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/empresas">
										Suscrito
									</a>
								</li>
								<li>
									<a href="/empresas">
										Otras Empresas
									</a>
								</li>
							</ul>
						</li>
						<%end%>
					</ul>
				</div>
			</div>
		</aside>
		<div id="main-container">
			<div class="padding-md">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
<% else %>
<body>
	<%= yield %>
</body>
<% end%>
</html>
