<!DOCTYPE html>
<html lang="es">
<head>
  <title>Taller2ClienteSii</title>
  <meta content="with=devise-width, initial-scale=1.0" name="viewport" >
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if usuario_signed_in? %>
<body data-no-turbolink>

	<div id="wrapper" class="preload">
		<div id="top-nav" class="fixed  default">           
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav-notification clearfix">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-envelope fa-lg"></i>
						<span class="notification-label bounceIn animation-delay4"><%= mis_notificaciones.where(leido: false).length %></span>
					</a>
					<ul class="dropdown-menu message dropdown-1">
						<li><a>Ultimos Mensajes</a></li>
						<% mis_notificaciones.reverse_each do |notificacion| %>					  
						<li>
							<a class="clearfix" href="/tareas/<%= notificacion.tarea_id =%>">
								<div class="detail">
								<strong><%= notificacion.titulo %></strong>
									<p class="no-margin">
										<%= notificacion.cuerpo %>
									</p>
									<small class="text-muted"><i class="fa fa-check text-success"></i> <%= notificacion.created_at.strftime("%d %b. %Y") + " a las " + notificacion.created_at.strftime("%I:%M %p") %></small>
								</div>
							</a>	
						</li>
						<% end %>				  
					</ul>
				</li>
				<li class="dropdown">

					<% if current_usuario.tipo_de_usuario == 2 %>
						<% servicios = servicios_administrados %>
					<% elsif current_usuario.tipo_de_usuario == 4 %>
						<% servicios = servicios_contratados %>
					<% end %>

					<% if current_usuario.tipo_de_usuario == 4 %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-tasks fa-lg"></i>
						<span class="notification-label bounceIn animation-delay5"><%= servicios.try(:length) || 0 %></span>
					</a>
					<ul class="dropdown-menu task dropdown-2">
						<li><a href="#">Servicios en ejecución</a></li>		

						<% servicios.reverse_each do |servicio| %>		  
							<li>
								<a href="/servicios/<%= servicio.id =%>">
									<div class="clearfix">
										<span class="pull-left"><%= servicio.nombre %></span>
										<small class="pull-right text-muted"><%= (servicio.tareas_terminadas*100)/(servicio.tareas_cantidad.nonzero? || 1) %>%</small>
									</div>
									<div class="progress">
										<div class="progress-bar" style="width:<%= (servicio.tareas_terminadas*100)/(servicio.tareas_cantidad.nonzero? || 1) %>%"></div>
									</div>
								</a>
							</li>
						<% end %>
						<li><a href="/servicios">Ver todos los servicios</a></li>	
										  
					</ul>
					<% end %>
				</li>
				<!--
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-bell fa-lg"></i>
						<span class="notification-label bounceIn animation-delay6">5</span>
					</a>
					<ul class="dropdown-menu notification dropdown-3">
						<li><a href="#">Nuevas Notificaciones</a></li>					  
						<li>
							<a href="#">
								<span class="notification-icon bg-warning">
									<i class="fa fa-warning"></i>
								</span>
								<span class="m-left-xs">Server #2 not responding.</span>
								<span class="time text-muted">Just now</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="notification-icon bg-success">
									<i class="fa fa-plus"></i>
								</span>
								<span class="m-left-xs">New user registration.</span>
								<span class="time text-muted">2m ago</span>
							</a>
						</li>
						<li><a href="#">Ver todas las notificaciones</a></li>					  
					</ul>
				</li>
				-->
				<li class="profile dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<strong><%= current_usuario.nombre %></strong>
						<span><i class="fa fa-chevron-down"></i></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="clearfix" href="#">
								<%= image_tag("male.jpg")%>
								<div class="detail">
									<strong><%= current_usuario.nombre %></strong>
									<p class="grey"><%= current_usuario.email %></p> 
								</div>
							</a>
						</li>
						<li>
							<%= link_to '<i class="fa fa-edit fa-lg"></i> Editar Perfil'.html_safe, edit_usuario_registration_path%>
						</li>

						<!--<li><a tabindex="-1" href="#" class="main-link"><i class="fa fa-edit fa-lg"></i> Editar Perfil</a></li> -->
						<li class="divider"></li>
						<li>
							<%= link_to '<i class="fa fa-lock fa-lg"></i> Cerrar Sesión'.html_safe, destroy_usuario_session_path, method: :delete %>
						</li>
					</ul>
				</li>
			</ul>
        </div>
        <aside class="fixed  default">
        	<div class="brand">
            	<span>MI</span>
                <span class="text-toggle">MEMO!</span>
            </div>  
			<div class="sidebar-inner scrollable-sidebar">
				<div class="size-toggle">
					<a class="btn btn-sm" id="sizeToggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<%= link_to '<i class="fa fa-power-off"></i>'.html_safe, destroy_usuario_session_path, method: :delete, class: "btn btn-sm pull-right"%>
				</div>
				<div class="user-block clearfix">
					<%= image_tag("male.jpg")%>
					<div class="detail">
						<strong>
							<%= current_usuario.nombre %>
						</strong>
						<ul class="list-inline">
							<li><a href="#"> Perfil</a></li>
						</ul>
					</div>
				</div>
        		<div class="main-menu">
					<ul>
						<!--Usuaio Super-administrador-->

						<% if current_usuario.tipo_de_usuario == 1 %>
						<li>
							<a href="/usuario">
								<span class="menu-icon">
									<i class="fa fa-users fa-lg"></i> 
								</span>
								<span class="text">
									Usuarios
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/usuario/filtrarUsuarios/1">
										Super Administradores
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/2">
										Administradores
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/3">
										Ejecutantes
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/4">
										Clientes
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Empresas
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/empresas/new">
										Agregar
									</a>
								</li>
								<li>
									<a href="/empresas">
										Listar
									</a>
								</li>
							</ul>
						</li>
						<!--Usuaio administrador-->
						<% elsif current_usuario.tipo_de_usuario == 2 %>
						<li>
							<a href="/empresas">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Mis Empresas
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-tasks fa-lg"></i> 
								</span>
								<span class="text">
									Servicio
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/servicios">
										Mis servicios
									</a>
								</li>
								<li>
									<a href="/servicios/new">
										Nuevo servicio
									</a>
								</li>
							</ul>
						</li>	
						<li>
							<a href="/usuario">
								<span class="menu-icon">
									<i class="fa fa-users fa-lg"></i> 
								</span>
								<span class="text">
									Usuarios
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/usuario/filtrarUsuarios/2">
										Administradores
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/3">
										Ejecutantes
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/4">
										Clientes
									</a>
								</li>
								<li>
									<a href="/usuario/filtrarUsuarios/5">
										No Clientes
									</a>
								</li>
							</ul>
						</li>
						<!--Usuaio ejecutante-->

						<% elsif current_usuario.tipo_de_usuario == 3 %>
						<li>
							<a href="#">
								<span class="menu-icon">
									<i class="fa fa-file-text fa-lg"></i> 
								</span>
								<span class="text">
										Tareas 
								</span>
								<span class="menu-hover"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/tareas/index/Asignadas">
										Asignadas
									</a>
								</li>
								<li>
									<a href="/tareas/index/Terminadas">
										Terminadas
									</a>
								</li>
							</ul>
						</li>
						<!--Usuaio cliente-->

						<% elsif current_usuario.tipo_de_usuario == 4 %>
						<li>
							<a href="servicios">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
										Servicios 
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<%end%>
					</ul>
				</div>
			</div>
		</aside>
		<div id="main-container">
			<div class="padding-md">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
<% else %>
<body>
	<%= yield %>
</body>
<% end%>
</html>
